.main {
  padding-top: 15px;
  padding-left: 10px;
  padding-right: 10px;
}

header {
  text-align: center;
  font-size: 22px;
  margin-bottom: 15px;
}

table {
  border-collapse: collapse;
}

tr {
  border: 1px solid lightgray;
}

tr.disabled,
tr.disabled input {
  background-color: lightgray;
}

td:first-child {
  background-color: lightgray;
}

label {
  float: right;
  text-align: right;
  font-size: 16px;
  margin-right: 10px;
  user-select: none;
}

input,
textarea,
select {
  font-size: 18px;
  background-color: white;
  font-family: inherit;
  padding: 10px;
  width: 100%;
  box-sizing: border-box;
  border: 0;
}

label,
input,
textarea {
  margin-top: 5px;
  margin-bottom: 5px;
}

input:focus-visible,
textarea:focus-visible {
  outline: none;
}

input:disabled {
  background-color: white;
}

.save-btn {
  width: auto;
  font-size: 16px;
  margin: 10px 0 10px 0;
  padding: 10px 15px;
  float: right;
  background-color: #008cba;
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  font-size: 16px;
}
